@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    margin: 0;
    background-color: #67b8cb;

    font-family: 'Lato', 'Open Sans', sans-serif;
    font-weight: 300;
    color: #ffffff;
}

.selected {
    background-color: #9f77aa;
    border: 1px solid #9f77aa;
}